th{
   background-color: yellow;
}
h2{
   color:blueviolet;
}
.s{
   background-color: chocolate;
}
.S{
    background-color: red;
}
.M{
    background-color:rgb(60, 130, 158);
}
.T{
    background-color:rgb(103, 170, 103);
}
.W{
    background-color: slateblue;
}
.t{
    background-color: slategray;
}
.ditiyo{
    background-color: pink;
}
table{
    text-align: center;
}
.a{
    background-color: royalblue;
}
.b{
    background-color: salmon;
}
td{
    background-color: yellowgreen;
}